body {
  font-family: 'Open Sans', sans-serif;
}

.all_person {
  border-bottom: 1px solid black;
}

.person_pic {
  height: 300px;
  /*width: 280px;*/
  border-radius: 2%;
}

#nobel_div {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

h1 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 5px;

}

h2 {
  text-align: center;
  padding-bottom: 30px;
}

.person {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.person_name {
  font-size: 18px;
  font-weight: bold;
}

.bio {
  font-size: 15px;
  margin-top: 0px;
  max-width: 70%;

}

.respo_title {
  font-size: 15px;
  margin-bottom: 2px;
  padding-left: 0px;
  text-align: left;
}

.respo_section {
  width: 115px;
}

.respo {
  padding-left: 10px;
  font-size: 15px;
  text-align: left;
}

.things {
  width: 200%;
  margin-left: 15px;
}

caption {
  caption-side: top;
  padding-top: 0px;
  padding-bottom: 0px;
  color: black;
  margin-left: -10px;
}

.stats {
  font-size: 15px;
  width: 115px;
  float: left;
}

td {
  text-align: left;
}

.names {
  padding-left: 0px;
}

.nums {
  padding-right: 10px;
  padding-left: 10px;
}

/*
.bottom_titles {
}
*/

.bottom_table {
  text-align: center;
  width: 100%;
  margin-top: -30px;
}

.bottom_lists {
  list-style-type: none;
  margin-top: -30px;
  padding-left: 0px;
  text-align: center;
  font-size: 14px;
}

.tool_table {
  text-align: center;
  margin-top: -30px;
  width: 130%;
}

#earl1 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;}

#earl2 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;}

#thomas1 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;}

#thomas2 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;}

#susan1 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;}

#susan2 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;}

#godson1 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;
}

#godson2 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;
}

#donovan1 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;}

#donovan2 {
  border-bottom: 2px solid rgb(212, 175, 55);
  margin-bottom: 30px;}
