body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  color: #222;
}

#title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links {
  text-decoration: none;
  color: #222;
}

.links:hover {
  color: rgb(212, 175, 55);
  text-decoration: none;
}

.top {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

#t_1, #t_2, #t_3, #t_4 {
  border-bottom: 1.5px solid rgb(212, 175, 55);
}

#t_2, #t_3 {
  border-left: 1.5px solid rgb(212, 175, 55);
  border-right: 1.5px solid rgb(212, 175, 55);
}

.b_1, .b_2, .b_3, .b_4 {
  border-bottom: 1.5px solid rgb(212, 175, 55);
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.b_2, .b_3 {
  border-left: 1.5px solid rgb(212, 175, 55);
  border-right: 1.5px solid rgb(212, 175, 55);
}

table {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#hl {
  background-color: #7cacf9;
}
