body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  color: #222;
}

#title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#l_photo {
  height: 500px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#c_photo {
  width: 95%;
}

#photo_place {
  margin-left: auto;
  margin-right: auto;
}

.info {
  width: 100%;
}

.descrip {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
}

#amount_descrip {
  margin-top: 0px;
}

.answer {
  margin-left: 10px;
  margin-top: 0px;
}

.links {
  text-decoration: none;
  color: #222;
}

.links1 {
  text-decoration: none;
  color: #222;
}

.links2 {
  text-decoration: none;
  color: #222;
}

.links:hover {
  color: rgb(212, 175, 55);
  text-decoration: none;
}

.links1:hover {
  color: rgb(212, 175, 55);
  text-decoration: none;
}

.links2:hover {
  color: rgb(212, 175, 55);
  text-decoration: none;
}

button {
  color: #222;
  font-weight: 500;
  background-color: #fcfcfc;
  border: none;
  margin-left: 10px;
  height: 25px;
  margin-top: 5px;
  text-decoration: underline;
}

button:hover {
  color: rgb(212, 175, 55);
}

#l_b_1 {
  color: rgb(212, 175, 55);
}

#c_b_1 {
  color: rgb(212, 175, 55);
}
