h1 {
  text-align: center;
}

#counts {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border: 0;
}

.l_photos {
  height: 180px;
}

.cat_pic {
  height: 180px;
}

.count1, .count2, .count3 {
  width: 200px;
  height: 200px;
  text-align: center;
 }

 .count1 {
   border-bottom: 1.5px solid rgb(212, 175, 55);
   border-right: 1.5px solid rgb(212, 175, 55);
 }

 .count2 {
    border-bottom: 1.5px solid rgb(212, 175, 55);
 }


 .count3 {
    border-bottom: 1.5px solid rgb(212, 175, 55);
    border-left: 1.5px solid rgb(212, 175, 55);
 }

 .c_links {
   color: #222;
 }

 .c_links:hover {
   color: rgb(212, 175, 55);
   text-decoration: none;
 }
