.navbar {
  margin: 0 0 0 0;
  background-color: rgb(212, 175, 55);
  height: 89px;
  width: 100%;
}

.nobel {
  height: 80px;
  margin-top: -24px;
  margin-bottom: auto;
}
/* Links inside the navbar */
.navbar a {
  text-decoration: none;
  color: white;
  background-color: rgb(212, 175, 55);
  margin-top: -9px;
  height: 90px;
}

.navbar a, .dropbtn {
	padding: 30px 40px;
}

.no-drop:hover {
  background-color: white;
  color: rgb(212, 175, 55);
}

.search {
  border: 0;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: -11px;
  margin-right: 30px;
}

#current-link {
  color: rgb(212, 175, 55);
  background-color: white;
}

#gone {
  opacity: 0;
  color: rgb(212, 175, 55);
  background-color: rgb(212, 175, 55);
  border: 0;
}
