html {
	margin: 20px;
	border: 4px double rgba(212, 175, 55, 0.9);
	padding: 50px;
	background-color: white;
}

h1 {
	font-size: 25pt;
	font-weight: bolder;
	position: relative;
	top: 0pt;
	color: rgba(212, 175, 55, 0.9);
}

.link2 {
	position: relative;
	top: 70pt;
	padding-bottom: 100pt;
}


#about {
	position: relative;
	top: 70pt;
	padding-bottom: 70pt;
}

#nobel {
	position: relative;
	top: 15pt;
	padding: 10pt;
	border-radius: 80pt;
}
#nobel img:hover {
	transition: background-color 0.5s ease;

	background-color: rgba(212, 175, 55, 0.5);
}
#category img:hover {
	transition: top 0.5s ease;

	top: -15pt;
}
#country img:hover {
	transition: top 0.5s ease;

	top: -5pt;
}
#laureate img:hover {
	transition: top 0.5s ease;

	top: -5pt;
}
#category img {
	position: relative;
	top: -10pt;
}
#laureate img {
	position: relative;
	top: 0pt;
}
#country img {
	position: relative;
	top: 0pt;
}

#category span {
	position: relative;
	top: -12.2pt;
}
#laureate span {
	position: relative;
	top: 12.2pt;
}
#country span {
	position: relative;
	top: 12pt;
}


body {
	font-family: 'Open Sans', sans-serif;
}