<!DOCTYPE html>


<html lang = "en">

<head>
  <meta charset = "UTF-8" />
  <title>About Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel = 'stylesheet' title = 'basic style' type = 'text/css' media = 'all' href ="{{url_for('static', filename='stylesheets/about.css')}}">
  <link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/navbar.css')}}"/>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet" />
</head>

<body>

  <div class="navbar">
    <a class="nobel_link" href="{{url_for('splash')}}"><img class = "nobel" src="../static/images/splash/nobel1.png" alt="nobel peace logo" /></a>
    <a class="no-drop" href="{{url_for('laureate')}}">Laureates</a>
    <a class="no-drop" href="{{url_for('country')}}">Countries</a>
    <a class="no-drop" href="{{url_for('category')}}">Categories</a>
    <a id="current-link" href = "{{url_for('about')}}">About</a>
    <input id='gone' type = "text" placeholder="search..." disabled/>
  </div>


  <div class = "col-sm-12">
      <h1>Swedish Fish</h1>
  </div>

  <div class = "row">
    <div class = "col-sm-12">
      <h2 class="col-sm-12">Group Members</h2>
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-5" id = "thomas1">
      <div class = "person">
        <div class = "row">
          <div class = "col-sm-12">
            <img class = "person_pic" src = "../static/images/about/thomas_mendez.png" alt = "Thomas Mendez" />
            <p class = "person_name">Thomas Mendez</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-5" id = "thomas2">
      <div class = "row">
        <div class = "col-sm-12">
          <p class = "bio">Thomas is a senior in the Arts and Entertainment Technologies major graduating in May,
          and he is also pursuing the elements of computing certificate.
          Thomas is actively working with virutal and augmented reality technology
          and spent the last summer interning at Accenture assiting in the development of cloud automation tools</p>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-6">
          <div class = "respo_section">
            <p class = "respo_title">Responsibilities:</p>
            <ul class = "respo">
              <li class = "things">Flask Python Document</li>
              <li class = "things">GCP Master</li>
              <li class = "things">Backend</li>
              <li class = "things">Original Static Pages</li>
            </ul>
          </div>
        </div>
        <div class = "col-sm-6">
          <table class = "stats">
            <caption>Personal Stats:</caption>
            <tr>
              <td class = "names">Commits:</td>
              <td class = "nums">60</td>
            </tr>
            <tr>
              <td class = "names">Issues:</td>
              <td class = "nums">6</td>
            </tr>
            <tr>
              <td class = "names">Unit Tests:</td>
              <td class = "nums">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class = "col-sm-1"></div>
  </div>

  <div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-5" id="susan1">
      <div class = "person">
        <div class = "row">
          <div class = "col-sm-12">
            <img class = "person_pic" src = "../static/images/about/susan_ward.jpg" alt = "Susan Ward" />
            <p class = "person_name">Susan Ward</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-5" id = "susan2">
      <div class = "row">
        <div class = "col-sm-12">
          <p class = "bio">Susan is a senior urban studies major graduating in May.
          She is also pursuing the elements of computing certificate.
          She currently works for UT Farm Stand and enjoys conversing with people about food systems.</p>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-6">
          <div class = "respo_section">
            <p class = "respo_title">Responsibilities:</p>
            <ul class = "respo">
              <li class = "things">Made Database</li>
              <li class = "things">Original Pillar Pages</li>
              <li class = "things">Helped with GCP</li>
              <li class = "things">Worked on Unit Tests</li>
            </ul>
          </div>
        </div>
        <div class = "col-sm-6">
          <table class = "stats">
            <caption>Personal Stats:</caption>
            <tr>
              <td class = "names">Commits:</td>
              <td class = "nums">41</td>
            </tr>
            <tr>
              <td class = "names">Issues:</td>
              <td class = "nums">8</td>
            </tr>
            <tr>
              <td class = "names">Unit Tests:</td>
              <td class = "nums">3</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class = "col-sm-1"></div>
  </div><div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-5" id="godson1">
      <div class = "person">
        <div class = "row">
          <div class = "col-sm-12">
            <img class = "person_pic" src = "../static/images/about/godson_inikori.jpg" alt = "Godson Inikori"  />
            <p class = "person_name">Godson Inikori</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-5" id = "godson2">
      <div class = "row">
        <div class = "col-sm-12">
          <p class = "bio">Godson is a senior mechanical engineering major graduating in Dec.
          He is also pursuing the elements of computing certificate.
          Godson was the President of the National Society of Black Engineers his
          senior year, and the current President is his mentee.</p>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-6">
          <div class = "respo_section">
            <p class = "respo_title">Responsibilities:</p>
            <ul class = "respo">
              <li class = "things">Design the Splash page (HTML, Bootstrap, CSS)</li>
              <li class = "things">Create team logo</li>
              <li class = "things">Worked on Unit Tests</li>
            </ul>
          </div>
        </div>
        <div class = "col-sm-6">
          <table class = "stats">
            <caption>Personal Stats:</caption>
            <tr>
              <td class = "names">Commits:</td>
              <td class = "nums">58</td>
            </tr>
            <tr>
              <td class = "names">Issues:</td>
              <td class = "nums">3</td>
            </tr>
            <tr>
              <td class = "names">Unit Tests:</td>
              <td class = "nums">3</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class = "col-sm-1"></div>
  </div><div class = "row">
    <div class = "col-sm-1"></div>
    <div class = "col-sm-5" id="donovan1">
      <div class = "person">
        <div class = "row">
          <div class = "col-sm-12">
            <img class = "person_pic" src = "../static/images/about/dtc.jpg" alt = "Donovan Calvert" />
            <p class = "person_name">Donovan Calvert</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-5" id="donovan2">
      <div class = "row">
        <div class = "col-sm-12">
          <p class = "bio">Donovan is a senior biology major graduating in December,
          with a BSA to include his studies for the Elements of Computer Science certificate.
          He has also spent his years working in research labs at the University of Texas and
          medical professionals. After graduating he will take a gap year before attending medical school in Texas.</p>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-6">
          <div class = "respo_section">
            <p class = "respo_title">Responsibilities:</p>
            <ul class = "respo">
              <li class = "things">Technical Wiki Report</li>
              <li class = "things">Helped Some with Database</li>
            </ul>
          </div>
        </div>
        <div class = "col-sm-6">
          <table class = "stats">
            <caption>Personal Stats:</caption>
            <tr>
              <td class = "names">Commits:</td>
              <td class = "nums">7</td>
            </tr>
            <tr>
              <td class = "names">Issues:</td>
              <td class = "nums">18</td>
            </tr>
            <tr>
              <td class = "names">Unit Tests:</td>
              <td class = "nums">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class = "col-sm-1"></div>
  </div>

  <div class = "row" id = "earl">
  <!--div class = "all_person"-->
    <div class = "col-sm-1"></div>
    <div class = "col-sm-5" id = "earl1">
      <div class = "person">
        <div class = "row">
          <div class = "col-sm-12">
            <img class = "person_pic" src = "../static/images/about/earl_maisonneuve.jpg" alt = "Earl Maisonneuve" />
            <p class = "person_name">Earl Maisonneuve</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-5" id = "earl2">
      <div class = "row">
        <div class = "col-sm-12">
          <p class = "bio">Earl is a senior actuarial science major graduating in May.
          He is also pursuing the elements of computing certificate.
          Earl is an active member of Christian Students on Campus
          and has spent his past two summer interning with the organization.</p>
        </div>
      </div>
      <div class = "row">
        <div class = "col-sm-6">
          <div class = "respo_section">
            <p class = "respo_title">Responsibilities:</p>
            <ul class = "respo">
              <li class = "things">HTML, CSS, BootStrap and JavaScript for pillar, instance and about pages</li>
              <li class = "things">Search Functions</li>'
              <li class = "things">Rearrange Data in JSON Files</li>
            </ul>
          </div>
        </div>
        <div class = "col-sm-6">
          <table class = "stats">
            <caption>Personal Stats:</caption>
            <tr>
              <td class = "names">Commits:</td>
              <td class = "nums">85</td>
            </tr>
            <tr>
              <td class = "names">Issues:</td>
              <td class = "nums">12</td>
            </tr>
            <tr>
              <td class = "names">Unit Tests:</td>
              <td class = "nums">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class = "col-sm-1"></div>
  </div>

  <div class = row>
    <div class = "col-sm-2"></div>
    <div class = "col-sm-2">
      <h2 class = "bottom_titles">Group Stats</h2>
      <table class = "bottom_table">
        <tr>
          <td>Total Commits:</td>
          <td>251</td>
        </tr>
        <tr>
          <td>Total Issues:</td>
          <td>47</td>
        </tr>
        <tr>
          <td>Total Unit Tests:</td>
          <td>6</td>
        </tr>
      </table>
    </div>

    <div class = "col-sm-4">
      <h2 class = "bottom_titles">Links</h2>
      <ul class = "bottom_lists">
        <li><a href = "../static/updated_json/laureates.json">Laureate Data</a></li>
        <li><a href = "../static/updated_json/countries.json">Country Data</a></li>
        <li><a href = "../static/updated_json/categories.json">Category Data</a></li>
        <li><a href = "https://gitlab.com/thomasmendez/cs329e-idb/issues">GitLab Issue Tracker</a></li>
        <li><a href = "https://gitlab.com/thomasmendez/cs329e-idb">GitLab Repo</a></li>
        <li><a href = "https://gitlab.com/thomasmendez/cs329e-idb/wikis/home">GitLab Wiki</a></li>
        <li><a href= "https://speakerdeck.com/cs329e/cs329e">Speaker Deck</a></li>
        <li><a href="{{ url_for('test')}}">Make Test</a></li>
      </ul>
    </div>

    <div class = "col-sm-2">
      <h2 class = "bottom_titles">Tools Used</h2>
      <table class = "tool_table">
        <tr>
          <td>HTML</td>
          <td>BootStrap</td>
        </tr>
        <tr>
          <td>Flask</td>
          <td>CSS</td>
        </tr>
        <tr>
          <td>JavaScript</td>
          <td>PostgresSQL</td>
        </tr>
        <tr>
          <td>REST API</td>
          <td>JSON</td>
        </tr>
        <tr>
          <td>Python</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class = "col-sm-1"></div>
  </div>

  </body>

</html>
