<!DOCTYPE html>
<html lang ='en'>
<head>
	<title>Category</title>
	<meta charset='UTF-8'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/navbar.css')}}"/>
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/categories.css')}}"/>
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
</head>
<body>

  <div class="navbar">
    <a class="nobel_link" href="{{url_for('splash')}}"><img class = "nobel" src="/static/images/splash/nobel1.png" alt="nobel peace logo" /></a>
    <a class="no-drop" href="{{url_for('laureate')}}">Laureates</a>
    <a class="no-drop" href="{{url_for('country')}}">Countries</a>
    <a id="current-link" href="{{url_for('category')}}">Categories</a>
    <a class="no-drop" href = "{{url_for('about')}}">About</a>
		<input class = "search" id='search' type = "text" placeholder="search..." onkeyup="search()"/>
  </div>

	<div class = "col-sm-12">
    <h1 id="title">{{title}}</h1>
  </div>

	<table>
		<tr class = 'rows'>
			<th class='top' id='t_1'>Year</th>
			<th class='top' id='t_2'>Laureate</th>
			<th class='top' id='t_3'>Motivation</th>
			<th class='top' id='t_4'>Country</th>
		</tr>

    {% for i in categories %}
		<tr class="rows_main">
			<td class='b_1'>{{i.prizesYear}}</td>
			<td class='b_2'><a class = "links" href = "{{url_for('dlaureate', id=i.id)}}"><div class='names'>{{i.firstname}} {{i.surname}}</div></a></td>
			<td class='b_3'>{{i.prizesMotivation}}</td>
			<td class='b_4'><a class="links" href="{{url_for('dcountry', code = i.bornCountryCode, title=i.bornCountry)}}"><div class='countries'>{{i.bornCountry}}</div></a></td>
		</tr>
		{% endfor %}

	</table>

	<script>
	  var s = document.getElementById("title").innerHTML;
		s = s.charAt(0).toUpperCase() + s.slice(1);
    document.getElementById("title").innerHTML = s;

		var mots = document.getElementsByClassName("b_3");
		for(i = 0; i < mots.length; i++) {
			s = mots[i].innerHTML;
			s = s.charAt(0).toUpperCase() + s.slice(1);
			mots[i].innerHTML = s;
		}

		var years = document.getElementsByClassName("b_1");
		for (i = 1; i < years.length; i++) {
			if (years[i].innerHTML == years[i-1].innerHTML) {
				years[i].parentNode.removeChild(years[i]);
				years[i-1].rowSpan = 2;
			}
		}
		var years = document.getElementsByClassName("b_1");
		for (i = 1; i < years.length; i++) {
			if (years[i].innerHTML == years[i-1].innerHTML) {
				years[i].parentNode.removeChild(years[i]);
				years[i-1].rowSpan = 3;
			}
		}

		var mots = document.getElementsByClassName("b_3");
		for (i = 1; i < mots.length; i++) {
			if (mots[i].innerHTML == mots[i-1].innerHTML) {
				mots[i].parentNode.removeChild(mots[i]);
				mots[i-1].rowSpan = 2;
			}
		}
		var mots = document.getElementsByClassName("b_3");
		for (i = 1; i < mots.length; i++) {
			if (mots[i].innerHTML == mots[i-1].innerHTML) {
				mots[i].parentNode.removeChild(mots[i]);
				mots[i-1].rowSpan = 3;
			}
		}
		
	</script>

	<script>
	  function getIndicesOf(searchStr, str, caseSensitive) {
  	  var searchStrLen = searchStr.length;
  	  if (searchStrLen == 0) {
  			return [];
  	  }
	    var startIndex = 0, index, indices = [];
    	if (!caseSensitive) {
	  		str = str.toLowerCase();
		  	searchStr = searchStr.toLowerCase();
    	}
  	  while ((index = str.indexOf(searchStr, startIndex)) > -1) {
		  	indices.push(index);
			  startIndex = index + searchStrLen;
    	}
	    return indices;
    }

    function highlight(find_str, item, reg) {
			var hl_str = item.innerHTML;
			var starts = getIndicesOf(find_str, hl_str, false);
			for (z = starts.length - 1; z >= 0; z--) {
				var start_idx = starts[z];
				var stop_idx = start_idx + find_str.length;
        hl_str = hl_str.slice(0, start_idx) + "<span id='hl'>" + hl_str.slice(start_idx, stop_idx) + "</span>" + hl_str.slice(stop_idx);
			}
			item.innerHTML = hl_str;
			return;
		}

		function clean(str) {
			var starts_b = getIndicesOf("<span id=\"hl\">", str, true);
			for (z = starts_b.length - 1; z >= 0; z--) {
				var start_idx = starts_b[z];
				var stop_idx = start_idx + 14;
        str = str.slice(0, start_idx) + str.slice(stop_idx);
			}

			var starts_e = getIndicesOf("</span>", str, true);
			for (z = starts_e.length - 1; z >= 0; z--) {
				var start_idx = starts_e[z];
				var stop_idx = start_idx + 7;
        str = str.slice(0, start_idx) + str.slice(stop_idx);
			}
			return str;
		}

    function search() {
			var years = document.getElementsByClassName('b_1');
			var names = document.getElementsByClassName('names');
			var mots = document.getElementsByClassName('b_3');
			var cots = document.getElementsByClassName('countries');
			var text = document.getElementById('search').value;
			var rows = document.getElementsByClassName('rows_main');
			var count = 0;
			var re = new RegExp(text, 'i');
			var add_row_y = 0;
			var add_row_m = 0;
			var y_skip = 0;

			for (i = 0; i < years.length; i++) {

        var flag = false;
				var num_rows = years[i].rowSpan;
				years[i].innerHTML = clean(years[i].innerHTML);
        if(re.test(years[i].innerHTML)) {
					flag = true;
					highlight(text, years[i], re);
				}
				for (j = 0; j < num_rows; j++) {
					names[i+j+add_row_y].innerHTML = clean(names[i+j+add_row_y].innerHTML);
					if(re.test(names[i+j+add_row_y].innerHTML)) {
						flag = true;
						highlight(text, names[i+j+add_row_y], re);
					}
					cots[i+j+add_row_y].innerHTML = clean(cots[i+j+add_row_y].innerHTML);
					if(re.test(cots[i+j+add_row_y].innerHTML)) {
						flag = true;
						highlight(text, cots[i+j+add_row_y], re);
					}
				}

        var num_rows_total = 0;
				for (j = 0; j < num_rows; j++) {
          num_rows_total += mots[i+j+add_row_y+add_row_m].rowSpan;
					mots[i+j+add_row_y+add_row_m].innerHTML = clean(mots[i+j+add_row_y+add_row_m].innerHTML);
					if(re.test(mots[i+j+add_row_y+add_row_m].innerHTML)) {
						flag = true;
						highlight(text, mots[i+j+add_row_y+add_row_m], re);
					}
					if(num_rows_total == num_rows) {
						num_mots = j + 1;
						break;
					}
				}
				if(num_mots < num_rows) {
					add_row_m -= (num_rows - num_mots);
				}

				if (flag == true) {
					for (k = 0; k < num_rows; k++) {
						rows[i+k+add_row_y].style.display = "";
					}
				}
				else {
					for (k = 0; k < num_rows; k++) {
						rows[i+k+add_row_y].style.display = "none";
					}
				}

				if(num_rows > 1) {
					add_row_y += num_rows - 1;
				}
			}

		}
	</script>

</body>
</html>
