<!DOCTYPE html>
<html lang ='en'>
<head>
	<title>Country</title>
	<meta charset='UTF-8' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
	<link rel = 'stylesheet' title = 'basic style' type = 'text/css' media = 'all' href = "{{url_for('static', filename='stylesheets/country_instance.css')}}" />
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/navbar.css')}}"/>
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet" />
</head>
<body>

  <div class = "row">
		<div class = "col-lg-12">
	    <div class="navbar">
    		<a class="nobel_link" href="{{url_for('splash')}}"><img class = "nobel" src="/static/images/splash/nobel1.png" alt="nobel peace logo" /></a>
		    <a class="no-drop" href="{{url_for('laureate')}}">Laureates</a>
    		<a id="current-link" href="{{url_for('country')}}">Countries</a>
		    <a class="no-drop" href="{{url_for('category')}}">Categories</a>
    		<a class = "no-drop" href = "{{url_for('about')}}">About</a>
				<input id='gone' type = "text" placeholder="search..." disabled/>
    	</div>
    </div>
  </div>

  <div class = "row">
		<div class = "col-lg-12">
      <h1 id = "title">{{title}}</h1>
    </div>
  </div>

	<div class = "row">
    <div style = "border-right: 1.5px solid #d4af37;" class = "col-md-1"></div>
    <div class = "col-md-10">

      <div class = "row">

        <div id="photo_place" class = "col-md-6">
          <img id = "c_photo" src = "/static/images/countries/{{code}}.jpg" alt="Country Image" />
        </div>

        <div class = "col-md-6">
          <div class = "row">
            <div class = "col-lg-12">
              <div class = "info" id="amount"><div id="amount_descrip" class = "descrip">Amount of Laureates: </div><div id="amount_ans" class = "answer">{{num}}</div></div>
            </div>
          </div>
          <div class = "row">
            <div class = "col-lg-12">
              <div class = "info" id="categories"><div id="cat_descrip" class = "descrip">Categories Laureates Won:</div><div id="cat_ans" class = "answer">
								{% for i in cats %}
								  <a class = "links" href = "{{url_for ('dcategory', category=i.prizesCategory)}}">{{i.prizesCategory}}</a>,
								{% endfor %}
							</div></div>
            </div>
          </div>
          <div class = "row">
            <div class = "col-lg-12">
              <div class = "info" id="laureates"><div id="laur_descrip" class = "descrip">Names of Laureates: </div><div id="laur_ans" class = "answer">
								{% for i in country %}
								  <span class='laurs'><a class = "links" href = "{{url_for('dlaureate', id=i.id)}}">{{i.firstname}} {{i.surname}}</a>,</span>
								{% endfor %}
							</div><div id='l_but'></div></div>
            </div>
          </div>
          <div class = "row">
            <div class = "col-lg-12">
              <div class = "info" id="years"><div id="years_descrip" class = "descrip">Years Laureates Won Awards: </div><div id="years_ans" class = "answer">
							{% for i in years %}
							  <span class='years'>{{i.prizesYear}}</span>,
              {% endfor %}
						</div></div>
            </div>
          </div>
          <div class = "row">
            <div class = "col-lg-12">
              <div class = "info" id="cities"><div id="city_descrip" class = "descrip">Cities where Laureates are From: </div><div id="city_ans" class = "answer">
								{% for i in cities %}
								  <span class='cits'>{{i.bornCity}},</span>
	              {% endfor %}
							</div><div id='c_but'></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style = "border-left: 1.5px solid #d4af37;" class = "col-md-1"></div>
  </div>

	<script>
  	//title
	  var s = document.getElementById("title").innerHTML;
  	if(s.indexOf("now") >= 0) {
	  	s = s.slice(s.indexOf("now") + 4, s.length - 1);
		  document.getElementById("title").innerHTML = s;
	  }

		//cat_ans
		var cats = document.getElementsByClassName("links");
		for(i = 0; i < cats.length; i++) {
			s = cats[i].innerHTML;
			s = s.charAt(0).toUpperCase() + s.slice(1);
			cats[i].innerHTML = s;
		}

		answers = document.getElementsByClassName("answer");
		for (i = 1; i < answers.length; i++) {
			s = answers[i].innerHTML;
			for (j = s.length - 1; j > -1; j--) {
				if(s.charAt(j) == ",") {
					s = s.slice(0, j);
					break;
				}
			}
			answers[i].innerHTML = s;
		}

    var years_list = document.getElementsByClassName('years');
		var years = "";
		var y = [years_list[0].innerHTML];
		for (i = 0; i < years_list.length; i++) {
		  if(i > 0  && years_list[i].innerHTML - 1 == years_list[i-1].innerHTML) {
		    y.push(years_list[i].innerHTML);
		  }
		  else if (i > 0) {
		    if(i == years_list.length - 1) {
		      if(y.length > 1) {
		        years += "<span>" + y[0] + " -" + y[y.length - 1] + "</span>";
		      }
		      else {
		        years += "<span>" + y[0] + "</span>";
		      }
		    }
		    else {
		      if(y.length > 1) {
		        years += "<span>" + y[0] + "-" + y[y.length - 1] + ", </span>";
		      }
		      else {
		        years += "<span>" + y[0] + ", </span>";
		      }
		    }
		    y = [years_list[i].innerHTML];
		  }
		}
		if(years[years.length - 9] != "," && years_list.length > 1) {
		  years += ", "
		}
		if(y.length > 1) {
		  years += "<span>" + y[0] + "-" + y[y.length - 1] + "</span>";
		}
		else {
		  years += "<span>" + y[0] + "</span>";
		}

		var laur_old = document.getElementsByClassName('laurs');
		var laur_new = [];
		var laur_text = "";
		for (i = 0; i < laur_old.length; i++) {
			if ((i+1) % 10 == 0 && i >= 9) {
				var str = laur_old[i].innerHTML;
				laur_text += " " + str.slice(0, str.length-1);
				laur_new.push(laur_text);
				laur_text = "";
			}
			else {
				if(laur_text.length == 0) {
					laur_text += laur_old[i].innerHTML;
				}
				else {
			  	laur_text += " " + laur_old[i].innerHTML;
			  }
			}
		}
		laur_new.push(laur_text);
		var b_text = "";
		if(laur_new.length > 1) {
		  for (i = 0; i < laur_new.length; i++) {
				var id_num = i+1;
				b_text += "<button type='button' onclick='change_display_l(this.id, this.className, \"laur_ans\")' class='l_b' id='l_b_" + id_num + "'>" + id_num + "</button>";
				if(i == 0) {
					laur_new[i] += "...";
				}
				else if (i == laur_new.length-1) {
					laur_new[i] = "..." + laur_new[i];
				}
				else {
					laur_new[i] = "..." + laur_new[i] + "...";
				}
			}
		}

		function change_display_l(id, clss, big_class) {
			var c_list = document.getElementsByClassName(clss);
			var curr = document.getElementById(id);
			var new_num = parseInt(curr.innerHTML) - 1;
			for (i = 0; i < c_list.length; i++) {
				c_list[i].style.color = "#222";
			}
      curr.style.color = "rgb(212, 175, 55)";
      document.getElementById(big_class).innerHTML = laur_new[new_num];
		}


		var cit_old = document.getElementsByClassName('cits');
		var cit_new = [];
		var cit_text = "";
		for (i = 0; i < cit_old.length; i++) {
			if ((i+1) % 10 == 0 && i >= 9) {
				var str = cit_old[i].innerHTML;
				cit_text += " " + str.slice(0, str.length-1);
				cit_new.push(cit_text);
				cit_text = "";
			}
			else {
				if(cit_text.length == 0) {
					cit_text += cit_old[i].innerHTML;
				}
				else {
					cit_text += " " + cit_old[i].innerHTML;
				}
			}
		}
		cit_new.push(cit_text);
		var bc_text = "";
		if(cit_new.length > 1) {
			for (i = 0; i < cit_new.length; i++) {
				var id_num = i+1;
				bc_text += "<button type='button' onclick='change_display_c(this.id, this.className, \"city_ans\")' class='c_b' id='c_b_" + id_num + "'>" + id_num + "</button>";
				if(i == 0) {
					cit_new[i] += "...";
				}
				else if (i == cit_new.length-1) {
					cit_new[i] = "..." + cit_new[i];
				}
				else {
					cit_new[i] = "..." + cit_new[i] + "...";
				}
			}
		}

		function change_display_c(id, clss, big_class) {
			var c_list = document.getElementsByClassName(clss);
			var curr = document.getElementById(id);
			var new_num = parseInt(curr.innerHTML) - 1;
			for (i = 0; i < c_list.length; i++) {
				c_list[i].style.color = "#222";
			}
			curr.style.color = "rgb(212, 175, 55)";
			document.getElementById(big_class).innerHTML = cit_new[new_num];
		}

    document.getElementById('l_but').innerHTML = b_text;
    document.getElementById('laur_ans').innerHTML = laur_new[0];
		document.getElementById('years_ans').innerHTML = years;
		document.getElementById('city_ans').innerHTML = cit_new[0];
		document.getElementById('c_but').innerHTML = bc_text;

	</script>

</body>
</html>
