<!DOCTYPE html>
<html lang ='en'>
<head>
	<title>Country</title>
	<meta charset='UTF-8'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/navbar.css')}}"/>
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/dynamic_country.css')}}" />
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet" />
</head>

<body>

  <div class = "row">
		<div class = "col-lg-12">
	    <div class="navbar">
    		<a class='nobel_link' href="{{url_for('splash')}}"><img class = "nobel" src="../static/images/splash/nobel1.png" alt="nobel peace logo" /></a>
		    <a class="no-drop" href="{{url_for('laureate')}}">Laureates</a>
    		<a id="current-link" href="{{url_for('country')}}">Countries</a>
		    <a class="no-drop" href="{{url_for('category')}}">Categories</a>
    		<a class = "no-drop" href = "{{url_for('about')}}">About</a>
		    <input class = "search" id='search' type = "text" placeholder="search..." onkeyup="search()"/>
    	</div>
    </div>
  </div>

  <div class = "row">
		<div class = "col-lg-12">
      <h1 id = "title">Countries</h1>
			<h2 id='alert'></h2>
	  </div>
  </div>

  <table id = "counts">
  {% if countries == [] %}
	  <p>This Country does not exist</p>
	{% else %}
	  {% for i in countries %}
		    <tr class="rows">
			      <td class = "count1"><a class = "c_links" href = "{{url_for('dcountry', code=i.bornCountryCode, title=i.bornCountry)}}">{{i.bornCountry}}</a></td>
			      <td class = "count2"><a class = "c_links" href = "{{url_for('dcountry', code=i.bornCountryCode, title=i.bornCountry)}}"><img src = "../static/images/flags/{{i.bornCountryCode}}.png" alt = "Country Flag"/></a></td>
		   </tr>
		{% endfor %}
	{% endif %}
</table>

<script>
  var names = document.getElementsByClassName("c_links");
	for (i = 0; i < names.length; i += 2 ) {
		var s = names[i].innerHTML;
		if(s.indexOf("now") >= 0) {
			s = s.slice(s.indexOf("now") + 4, s.length - 1);
			names[i].innerHTML = s;
		}
	}

  //search function
	function search() {
		var count = 0;
		document.getElementById('alert').innerHTML = "";
		var text = document.getElementById('search').value;
		var list = document.getElementsByClassName('c_links');
		var rows = document.getElementsByClassName('rows');
		var re = new RegExp(text, 'i');
		for (i = 0; i < list.length; i += 2) {
			var link_text = list[i].innerHTML;
			if(re.test(link_text)) {
				list[i].style.display = "";
				list[i+1].style.display = "";
				rows[i/2].style.display = "";
			}
			else {
				list[i].style.display = "none";
				list[i+1].style.display = "none";
				rows[i/2].style.display = "none";
				count++;
			}
		}
		if(count == rows.length) {
			document.getElementById('alert').innerHTML = "Either no laureates are from the country you searched, or the country you searched does not exist. </br> Make sure you are using the current name of the country."
		}
	}

	//buttons
</script>

</body>
</html>
