<!DOCTYPE html>
<html lang ='en'>
<head>
	<title>Categories</title>
	<meta charset='UTF-8'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/navbar.css')}}"/>
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/dynamic_country.css')}}" />
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
</head>
<body>

	<div class="navbar">
    <a class="nobel_link" href="{{url_for('splash')}}"><img class = "nobel" src="../static/images/splash/nobel1.png" alt="nobel peace logo" /></a>
  	<a class="no-drop" href="{{url_for('laureate')}}">Laureates</a>
  	<a class="no-drop" href="{{url_for('country')}}">Countries</a>
    <a id="current-link" class="no-drop" href="{{url_for('category')}}">Categories</a>
  	<a class="no-drop" href = "{{url_for('about')}}">About</a>
  	<input id='search' class = "search" type = "text" onkeyup="search()" placeholder="search..." />
  </div>
	<div class = "col-sm-12">
		<h1>Categories</h1>
		<h2 id='alert'></h2>
	</div>

	<table id = "counts">
  {% if categories == [] %}
	  <p>No Categories Exist</p>
	{% else %}
	  {% for i in categories %}
		    <tr class='rows'>
			      <td class = "count1"><a class = "c_links" href = "{{url_for('dcategory', category=i.prizesCategory)}}">{{i.prizesCategory}}</a></td>
			      <td class = "count2"><a class = "c_links" href = "{{url_for('dcategory', category=i.prizesCategory)}}"><img class="cat_pic" src = "../static/images/categories/{{i.prizesCategory}}.jpg" alt = "Category Picture"/></a></td>
		   </tr>
		{% endfor %}
	{% endif %}
  </table>

	<script>
	  var links = document.getElementsByClassName("c_links");
		for (i = 0; i < links.length; i += 2 ) {
      var s = links[i].innerHTML;
			s = s.charAt(0).toUpperCase() + s.slice(1);
			links[i].innerHTML = s;
		}

		function search() {
			var count = 0;
			document.getElementById('alert').innerHTML = "";
			var text = document.getElementById('search').value;
			var list = document.getElementsByClassName('c_links');
			var rows = document.getElementsByClassName('rows');
			var re = new RegExp(text, 'i');
			for (i = 0; i < list.length; i += 2) {
				var link_text = list[i].innerHTML;
				if(re.test(link_text)) {
					list[i].style.display = "";
					list[i+1].style.display = "";
					rows[i/2].style.display = "";
				}
				else {
					list[i].style.display = "none";
					list[i+1].style.display = "none";
					rows[i/2].style.display = "none";
					count++;
				}
			}
			if(count == rows.length) {
				document.getElementById('alert').innerHTML = "Either the category you searched for does not exist, or you misspelled it.";
			}
		}

	</script>

</body>
</html>
