<!DOCTYPE html>
<html lang ='en'>
<head>
	<title>Laureates</title>
	<meta charset='UTF-8'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/navbar.css')}}"/>
	<link rel = 'stylesheet' title = 'basic style' type = 'text/css' media = 'all'href = "{{url_for('static', filename='stylesheets/country_instance.css')}}" />
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
</head>
<body>
  <div class="navbar">
		<a class="nobel_link" href="{{url_for('splash')}}"><img class = "nobel" src="/static/images/splash/nobel1.png" alt="nobel peace logo" /></a>
    <a id="current-link"  href="{{url_for('laureate')}}">Laureates</a>
		<a class="no-drop" href="{{url_for('country')}}">Countries</a>
    <a class="no-drop" href="{{url_for('category')}}">Categories</a>
    <a class="no-drop" href = "{{url_for('about')}}">About</a>
		<input id='gone' type = "text" placeholder="search..." disabled/>
  </div>


	{% for i in laureate %}
	 <div class = "row">
		<div class = "col-lg-12">
	    <h1 id = "title">{{i.firstname}} {{i.surname}}</h1>
	  </div>
	 </div>

		<div class = "row">
	    <div style = "border-right: 1.5px solid #d4af37;" class = "col-md-1"></div>
	    <div class = "col-md-10">

	      <div class = "row">

	        <div class = "col-md-6">
	          <img id = "l_photo" src = "/static/images/laureates/{{i.id}}.jpg" alt="Laureate Image" />
	        </div>

	        <div class = "col-md-6">
	          <div class = "row">
	            <div class = "col-lg-12">
	              <div class = "info" id="category"><div id="category_descip" class = "descrip">Category: </div><div id="category_ans" class = "answer"><a id="l1" class="links" href="{{ url_for('dcategory',category=i.prizesCategory)}}">{{i.prizesCategory}}</a></div></div>
	            </div>
	          </div>
	          <div class = "row">
	            <div class = "col-lg-12">
	              <div class = "info" id="motiv"><div id="motiv_descrip" class = "descrip">Motivation:</div><div id="motiv_ans" class = "answer">{{i.prizesMotivation}}</div></div>
	            </div>
	          </div>
	          <div class = "row">
	            <div class = "col-lg-12">
	              <div class = "info" id="shared"><div id="shared_descrip" class = "descrip">Year Awarded: </div><div id="shared_ans" class = "answer">{{i.prizesYear}}</div></div>
	            </div>
	          </div>
	          <div class = "row">
	            <div class = "col-lg-12">
	              <div class = "info" id="year"><div id="year_descrip" class = "descrip">Shared by: </div><div id="year_ans" class = "answer">{{i.prizesShare}}</div></div>
	            </div>
	          </div>
	          <div class = "row">
	            <div class = "col-lg-12">
	              <div class = "info" id="country"><div id="country_descrip" class = "descrip">Born in: </div><div id="country_ans" class = "answer">{{i.bornCity}}, <a class="links" href="{{url_for('dcountry', code = i.bornCountryCode, title=i.bornCountry)}}">{{i.bornCountry}}</a></div></div>
	            </div>
	          </div>
	        </div>
					{% endfor %}
				</div>
	    </div>
	    <div style = "border-left: 1.5px solid #d4af37;" class = "col-md-1"></div>
	  </div>

		<script>
		  var s = document.getElementById("l1").innerHTML;
			s = s.charAt(0).toUpperCase() + s.slice(1);
			document.getElementById("l1").innerHTML = s;
			s = document.getElementById("motiv_ans").innerHTML;
			s = s.charAt(0).toUpperCase() + s.slice(1);
			document.getElementById("motiv_ans").innerHTML = s;
		</script>

</body>
</html>
