<!DOCTYPE html>
<html>

<head>
	<title>Nobel Prizes</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet" />
	<link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{ url_for('static', filename='stylesheets/splash.css') }}" media = "all" />
</head>

<center>
<body>
	<div class="row">
		<div class="col-sm-12">
			<div class="header">
				<h1>Nobel Prizes</h1>
			</div>
		</div>
	</div>




	<div class="row">
		<div class="col-sm-12">
			<div class = "img" id="nobel">
				<img id="nobel" style="width: 200px; height: auto;" src="../static/images/splash/nobel.png" alt="nobel peace logo">
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-4">
			<div class = "link2" id="category">
				<a href="{{url_for('category')}}">
				<div class="row">
					<div class="col-sm-12">
						<img id="category" style="width: 120px; height: auto;" src="../static/images/splash/prize.png" alt="clipart graphic of a prize">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<span>Category</span>
					</div>
				</div>
				</a>
			</div>
		</div>
		

		<div class="col-sm-4">
			<div class = "link2" id="laureate">
				<a href="{{url_for('laureate')}}">
				<div class="row">
					<div class="col-sm-12">
						<img id="laureate" style="width: 120px; height: auto;" src="../static/images/splash/laureate.png" alt="clipart graphic of an avatar symbolizing a laureate">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<span>Laureate</span>
					</div>
				</div>
				</a>
			</div>
		</div>

		<div class="col-sm-4">
			<div class = "link2" id="country">
				<a href="{{url_for('country')}}">
				<div class="row">
					<div class="col-sm-12">
						<img id="country" style="width: 120px; height: auto;" src="../static/images/splash/country.png" alt="clipart graphic of a flag symbolizing a country">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<span>Country</span>
					</div>
				</div>
				</a>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-sm-12">
			<div class = "link1" id="about">
				<a href="{{url_for('about')}}">
					<div class="row">
						<div class="col-sm-12">
							<img id="logo" style="width: 120px; height: auto;" src="../static/images/splash/swedishfish.png" alt="vector of a swedish fish outline with the swedish flag inside as team logo">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<span>About</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>



</body>
</center>


</html>