<!DOCTYPE html>


<html lang = "en">

<head>
  <meta charset = "UTF-8" />
  <title>About Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel = 'stylesheet' title = 'basic style' type = 'text/css' media = 'all' href ="{{url_for('static', filename='stylesheets/about.css')}}">
  <link rel = "stylesheet" title = "basic style" type = "text/css" href = "{{url_for('static', filename='stylesheets/navbar.css')}}"/>
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet" />
</head>

<body>

  <div class="navbar">
    <a class="nobel_link" href="{{url_for('splash')}}"><img class = "nobel" src="../static/images/splash/nobel1.png" alt="nobel peace logo" /></a>
    <a class="no-drop" href="{{url_for('laureate')}}">Laureates</a>
    <a class="no-drop" href="{{url_for('country')}}">Countries</a>
    <a class="no-drop" href="{{url_for('category')}}">Categories</a>
    <a id="current-link" href = "{{url_for('about')}}">About</a>
  </div>
{{output}}
</body>
</html>
